<button ng-click="lc.showAdd()" class="btn btn-primary">Add Listing</button>

<div class="viewtitlediv" ng-show="lc.show">
    <h4 class="viewtitle">ADD NEW LISTING</h4>
    <form class="row" ng-submit="lc.addListing(lc.newListing)">
        <div class="col-md-3" class="inputs">
            <label for="city">City Located:</label>
            <input type="text" ng-model="lc.newListing.city" name="city" id="city" placeholder="i.e. Minneapolis">
            <br>
            <label for="price">Price:</label>
            $<input ng-model="lc.newListing.cost" type="number" name="price" id="price" placeholder="i.e. 256000">
            <br>
            <label for="size">Size:</label>
            <input type="number" ng-model="lc.newListing.sqft" name="size" id="size" placeholder="i.e. 1200">sqft
        </div>
        <div class="col-md-6 forBtn">
            <button class="btn btn-primary add">Submit Listing</button>
        </div>
    </form>
</div>

<div>
    <div class="viewtitlediv">
         <h3 class="viewtitle">PROPERTIES FOR SALE</h3>
    </div>
    <div class="property" ng-repeat="listing in lc.results.data">
        <h3 class="city">
            {{listing.city}}
        </h3>
        <p id="currency-default" class="Price">
           {{listing.cost | currency}}
        </p>
        <p class="sqft">
            {{listing.sqft}} square ft.
        </p>
    </div>
</div>