#brandname{
    color:moccasin;
    margin: auto;
    text-align: center
}

.viewtitle{
    padding:10px;
    text-align: center;
    color: slategray;
    background-color:whitesmoke
}

.viewtitlediv{
    margin: 0px;
}

.property{
    margin: 20px;
    color: slategray
}



.jumbotron{
    background-color: cornflowerblue;
    text-align: center;
    margin: 0px
}

a{
    color:rgb(223, 218, 210);
    margin: auto;
}

main{
    background-color: moccasin;
    margin: 0px
}

#branddetail, span{
    color:rgb(224, 188, 129);
    margin: auto;
    text-align: center
}