body{
    background-color: moccasin;
}

.brandname{
    color:moccasin;
    margin: auto;
    text-align: center
}

button{
    margin: 3px;
}

.viewtitle{
    padding:10px;
    color: cornflowerblue;
    background-color:whitesmoke
}

.inserts{
    float: left;
}

.forBtn{
    height: 20px
}

.add{
    margin: 3px
}

.viewtitlediv{
    margin: 0px;
}

.property{
    margin: 20px;
    color: slategray;
    border-bottom: thick solid cornflowerblue;
}



.jumbotron{
    background-color: cornflowerblue;
    text-align: center;
    margin: 0px
}

a{
    color:rgb(223, 218, 210);
    margin: auto;
}

main{
    background-color: moccasin;
    margin: 0px
}

#branddetail, span{
    color:rgb(224, 188, 129);
    margin: auto;
    text-align: center
}